.about {
  background-color: #ffffff;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5vh;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
}

.photo img {
  max-width: 100%;
  height: 50vh;
  border-radius: 35px;
  box-shadow: #123;
}

.description {
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .sec {
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    margin-top: 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about {
    padding-top: 5vh;
  }
  .title {
    font-size: 1.5rem;
  }

  .photo img {
    height: 80vw;
  }

  .description {
    font-size: 0.9rem;
  }
}
